<?xml version="1.0" encoding="UTF-8" ?>
<Settings name="Settings" prefix="LIBCONFLIPSHARED_EXPORT">
	<Include>lib_conflip_global.h</Include>
	<Include>QUuid</Include>

	<Node key="engine">
		<Entry key="dir" type="QString"/>
		<Entry key="interval" type="int" default="60"/>
		<Entry key="machineid" type="QUuid"/>
	</Node>
	<Node key="gui">
		<Node key="mainwindow">
			<Entry key="geom" type="QByteArray"/>
			<Entry key="state" type="QByteArray"/>
			<Entry key="header" type="QByteArray"/>
		</Node>
		<Node key="createentrydialog">
			<Entry key="size" type="QSize"/>
		</Node>
	</Node>
</Settings>
